:root {
    --main-decoretion-color: #ffffff;
    --secondary-decoretion-color: #2196f3;
    --text-primary-color: #212121;
    --text-secondary-color: #757575;
    --buttom-decoretion-color: #f5f4fa;
}