.header-logo {
    margin-right: 93px;
    color: var(--secondary-decoretion-color);
    font-family: "Raleway", "sans-serif";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
span {
    color: var(--text-primary-color);
}

.cellar-logo {
    display: block;
    margin-bottom: 20px;

    color: var(--secondary-decoretion-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19x;
    letter-spacing: 0.03em;
}
.cellar-item {
    color: var(--main-decoretion-color);
}
